@model Influenceur.Models.InfluenceurType

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>InfluenceurType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SocialMedia" class="control-label"></label>
                <input asp-for="SocialMedia" class="form-control" />
                <span asp-validation-for="SocialMedia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FollowersNumber" class="control-label"></label>
                <input asp-for="FollowersNumber" class="form-control" />
                <span asp-validation-for="FollowersNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="categorie" class="control-label"></label>
                <input asp-for="categorie" class="form-control" />
                <span asp-validation-for="categorie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EngagementRate" class="control-label"></label>
                <input asp-for="EngagementRate" class="form-control" />
                <span asp-validation-for="EngagementRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" value="@ViewBag.UserId" readonly />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
