@model Influenceur.Models.Sponsor

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Sponsor</h4>
<hr />
<div class="container px-4 py-5 mx-auto">
    <div class="card card1 mx-auto p-4">
        <!-- Ajout de mx-auto et p-4 pour centrer -->
        <div class="row justify-content-center">
            <div class="col-md-8">
                <!-- Réduction de la largeur du formulaire -->
                <div class="text-center mb-4">
                    <img id="logo" src="https://i.imgur.com/PSXxjNY.png" />
                    <h3 class="mt-3 heading">We are HussMons</h3>

                </div>
        <form asp-action="Create">
           
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="UserId" class="control-label"></label>
				<input asp-for="UserId" class="form-control" value="@ViewBag.UserId" readonly />
				<span asp-validation-for="UserId" class="text-danger"></span>
			</div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebSite" class="control-label"></label>
                <input asp-for="WebSite" class="form-control" />
                <span asp-validation-for="WebSite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Industry" class="control-label"></label>
                <input asp-for="Industry" class="form-control" />
                <span asp-validation-for="Industry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                        <input type="submit" value="Create" class="btn-block btn-color" />
            </div>
                </form>

            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<link href="~/css/style.css" rel="stylesheet" asp-append-version="true" />
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>